*{
    box-sizing: border-box;
    
}

header{
    border: 1px solid black;
    font-size: 20px;
    height: 150px;
    width: 300px;
}

body {
    background-color:rgb(247, 247, 236);
    
}

#splashscreen{
    
}

/*INTRO TITLE - PICTURE - BUTTON*/
.intro,
.game{
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto Slab';
    transition: opacity 0.5s ease;
}

/*
.gametime,
.options,
.score,
.hint {
    margin: 0;
    padding: 0;
}
*/

.intro {
    transition: opacity 0.5s ease;
}

/*CONTAINS UNDERSCORES, INPUT, & HEADER*/
.container{
    float: right;
    position: static;
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
}



.underscores{
    top: 300px;
    right: 160px;
    bottom: 70px;
    position: absolute;
    transition: opacity 0.5s ease 0.5s;
}

/*Text input box*/
input{
    right: 100px;
    bottom: 250px;
    position: absolute;
    transition: opacity 0.5s ease 0.5s;
}

/*Game header w/text box*/
.gametime{
    margin-top: -300px;
    transition: opacity 0.5s ease 0.5s;
}


.containerBoard{
    position: absolute;
    top: 0;
    padding: 20px;
    left: 120px;
    font-size: 20px;
    font-weight: bold;
    transition: opacity 0.5s ease 0.5s;
}

.hint{
    font-weight: bold;
}


#hint{
    position: absolute;
    top: 200px;
    left: 100px;
    opacity: 0;
}

div.fadeOut{
    opacity: 0;
    pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}

#guessForm {
    margin: 0;
    padding: 0;
    position: relative;
}


    