*{
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color:rgb(247, 247, 236);
}

.intro,
.game{
    padding: 10px;
    text-align: center;
}

.gametime,
.options,
.score,
.hint {
    opacity: 0;
}